mkdocs-material
mkdocstrings[python]
digitalhub[full]>=0.13.0b, <0.14
digitalhub_runtime_python>=0.13.0b, <0.14
digitalhub_runtime_container>=0.13.0b, <0.14
digitalhub_runtime_kfp>=0.13.0b, <0.14
digitalhub_runtime_modelserve>=0.13.0b, <0.14
digitalhub_runtime_dbt>=0.13.0b, <0.14
digitalhub_runtime_hera>=0.13.0b, <0.14
