name: update-docs
run-name: Update docs
on:
  create:
    branches-ignore:
      - gh-pages
  push:
    branches-ignore:
      - gh-pages
concurrency:
  group: update-docs
  cancel-in-progress: false
permissions:
  contents: write
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt
      - run: |
          git fetch --prune --tags origin "+refs/heads/*:refs/remotes/origin/*"
          this_branch=${{ github.ref_name }}
          if [ "$this_branch" == "main" ]; then
            this_branch=current
          fi
          echo "Triggered by event '${{ github.event_name }}' on branch '${this_branch}'"
          export VERSIONS=$(echo `git branch -r --format='%(refname:short)'`|python versions_string.py)
          echo "Versions are: ${VERSIONS}"
          for v in ${VERSIONS//,/ }
          do
            if [ "${{ github.event_name }}" == "create" ] || [ "$v" == "$this_branch" ]; then
              echo "Deploying docs for: $v"
              if [ "$v" != "current" ]; then
                echo "Behaviour for any non-main branch"
                export DOCS_VERSION="v:$v"
                export USER_STYLESHEETS_PORTAL_SELECTION='../stylesheets/portal_selection.css'
                export USER_STYLESHEETS_COLORS='../stylesheets/colors.css'
                git checkout $v
                pip install -r requirements.txt
                mkdir -p site
                mkdocs build -d site/$v
              else
                echo "Special behaviour for main"
                git checkout main
                mkdocs build
              fi
            fi
          done
          git checkout gh-pages
          cp -r site/* .
          rm -r site
          git config --global user.name '${{ github.actor }}'
          git config --global user.email '${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com'
          git add --all
          git commit -m "Docs auto-generated by '${{ github.event_name }}' on branch '${{ github.ref_name }}'" --allow-empty
          git push
